{% extends "base.html" %}
{% block content %}
<h2>פרטי העובד</h2>
<form method="post" action="/employee/profile/update">
    <label>שם מלא:</label><br>
    <input type="text" name="name" value="{{ employee['name'] }}"><br><br>

    <label>אימייל:</label><br>
    <input type="email" name="email" value="{{ employee['email'] }}"><br><br>

    <label>טלפון:</label><br>
    <input type="text" name="phone" value="{{ employee['phone'] }}"><br><br>

    <button type="submit">עדכן</button>
</form>
{% endblock %}